[Unit]
Description=tomcat service

[Service]
Type=forking
Environment=JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-amd64/
Environment=CATALINA_HOME=/u01/middleware/apache-tomcat-9.0.70

ExecStart=/u01/middleware/apache-tomcat-9.0.70/bin/startup.sh
ExecStop=/u01/middleware/apache-tomcat-9.0.70/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
